<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="./index.js"></script>
</head>
<body>
    <div class="error-500" data-text="Oh no! Our spaghetti code is not working properly. We will be back soon!">
        <spaguetti>
          <fork></fork>
          <meat></meat>
          <pasta></pasta>
          <plate></plate>
        </spaguetti>
      </div>
</body>
</html>